<template>
  <div>
    <h1 class="titre">Modifie ta recette</h1>
    <form class="aa" @submit.prevent="update">
      <label for="title">Titre de la recette :</label>
      <input type="text" name="title" :value="recipe.title" required>
      <label for="content">Contenu de la recette :</label>
      <textarea name="content" id="editor1" required>{{ recipe.content }}</textarea>
      <div class="block">
        <input type="submit" value="Modifier" class="input">
      </div>
    </form>
  </div>
</template>

<script setup>
import { sanitizeInput } from '@/utils/sanitize'

const id = useRoute().params.id
const { data: recipe } = await useFetch(`http://localhost:3333/api/dashboard/${id}`)
const title = ref(recipe.title)
const content = ref(recipe.content)

async function update(title, content) {
  const sanitizeTitle = sanitizeInput(title.value)
  const sanitizeContent = sanitizeInput(content.value)

  await useFetch(`http://localhost:3333/api/recipes/${id}`, { method: 'PUT', body: { sanitizeTitle, sanitizeContent }})
  return navigateTo('/dashboard/myRecipes')
}
</script>