<template>
  <div>
    <div class="containermain">
      <span class="pseudo">Bienvenue sur le Marmiton de WISH , POELETON </span>

      <div class="ligne_horizontal">
        <h2 class="article">Nos articles</h2>
      </div>

      <div v-for="recipe in recipes" :key="recipe.id" class="block2">
        <li class="oneone">
          <h2>{{ recipe.title }}</h2>
          <div class="avis">
            <p>
              {{ recipe.opinion_count }}
              <i class="fa-solid fa-comment"></i>
            </p>
            <p>
              {{ recipe.average_note }} /5
              <i class="fa-solid fa-star"></i>
            </p>
          </div>
          <p class="non">{{ recipe.note_count }} avis</p>
          <NuxtLink
            :to="`/recipe/${recipe.id}`"
            class="block2"
          >
            Voir Plus
          </NuxtLink>
          <p class="non">
            ecrits par : 
            <strong>{{ recipe.username }}</strong>
            <br>
            ajouté le : {{ new Date(recipe.updated_at).toLocaleDateString('fr-FR') }}
          </p>
        </li>
      </div>
      <div id="scrollUp">
        <a href="#top"><img src="/to_top.png" /></a>
      </div>
    </div>
  </div>
</template>

<script setup>
const { data: recipes } = await useFetch('http://localhost:3333/api/recipes')
</script>
