<template>
  <div id="container">
    <form @submit.prevent="register" class="FORM">
      <h1>Inscription</h1>

      <p v-if="message" style="color: red; font-size: 15px">{{ message }}</p>

      <label>Nom d'utilisateur</label>
      <input v-model="username" type="text" placeholder="Entrer le nom d'utilisateur" name="pseudo" required>

      <label>Mot de passe</label>
      <input v-model="password" type="password" placeholder="Entrer le mot de passe" name="password" required>

      <input type="submit" id="submit" value="Inscription">
      <NuxtLink to="/login">Connexion</NuxtLink>
    </form>
  </div>
</template>

<script setup>
import { storeToRefs } from 'pinia'
import { useUserStore } from '@/store/index'
import { sanitizeInput } from '@/utils/sanitize'

const username = ref('')
const password = ref('')
const message = ref('')
const store = useUserStore()
const { isLogedIn } = storeToRefs(store)
const { setUser, setLogedIn } = store

async function  register() {
  const sanitizeUsername = sanitizeInput(username.value).replace(' ', '').replace(' ', '')
  const sanitizePassword = sanitizeInput(password.value).replace(' ', '').replace(' ', '')
  const { data } = await useFetch('http://localhost:3333/api/auth/register', { method: 'POST', body: { username: sanitizeUsername, password: sanitizePassword } })
  if(data.value && !data.value.message) {
    setUser(data.value)
    setLogedIn(true)
    message.value = ''
    return navigateTo('/dashboard')
  }
  return message.value = data.value.message
}
</script>