<template>
  <div>
    <NuxtLink to="/" style="font-size: 2rem">Retour à l'accueil</NuxtLink>
    <div class="containermain">
      <h2 class="titre">{{ recipe.title }}</h2>

      <div class="card-articles">
        <p>{{ recipe.content }}</p>
        <p class="oui">note : {{ recipe.average_note }} /5 <i class="fa-solid fa-star"></i></p>
        <p class="non">ecrits par : <strong>{{ recipe.username }}</strong><br>
        ajouté le : {{ new Date(recipe.updated_at).toLocaleDateString('fr-FR') }}</p>
      </div>

      <div class="card-articles" v-if="store.isLogedIn">
        <form @submit.prevent="addComment">
          <div>
            <input type="radio" name="note" id="note-5" value="5" />
            <label class="etoile" for="note-5">Note de 5 sur 5</label>
            <input type="radio" name="note" id="note-4" value="4" />
            <label class="etoile" for="note-4">Note de 4 sur 5</label>
            <input type="radio" name="note" id="note-3" value="3"/>
            <label class="etoile" for="note-3">Note de 3 sur 5</label>
            <input type="radio" name="note" id="note-2" value="2" />
            <label class="etoile" for="note-2">Note de 2 sur 5</label>
            <input type="radio" name="note" id="note-1" value="1" />
            <label class="etoile" for="note-1">Note de 1 sur 5</label>
          </div>
          <label for="comment">Laisser un commentaire:</label>
          <textarea id="editor1" v-model="comment" rows="5" cols="50"></textarea>
          <input class="input" type="submit" value="Ajouter" />
        </form>
      </div>

      <div class="card-articles">
        <div v-for="(opinion, index) in recipe.opinions" :key="opinion.id">
          <!-- <p class="oui">note : {{ note.note }} <i class="fa-solid fa-star"></i></p> -->
          <p class="oui">{{ opinion.opinion }}</p>
          <!-- <p class="non">ecrits par : {{ getUsername(comment.users_id) }}</p> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useUserStore } from '@/store/index'

const store = useUserStore()
const id = useRoute().params.id
let comment = ''
const { data: recipe } = await useFetch(`http://localhost:3333/api/recipes/${id}`)
</script>