<template>
    <header class="header">
        <a href="/"><img src="/poeleton.png" class="logo"/></a>
        <div class="ligne_horizontal2">
            <a href="/" class="menu">Accueil</a>
            <a v-if="isLogedIn" href="/dashboard" class="menu">Mon compte</a>
            <a href="/about" class="menu">A propos</a> 
            <NuxtLink v-if="isLogedIn" to="/" @click="logout"><i class="fa-solid fa-power-off"/></NuxtLink>
            <a v-else href="/login"><i class="fa-solid fa-circle-user"/>Connexion</a>
        </div>
    </header>
</template>

<script setup>
import { storeToRefs } from 'pinia'
import { useUserStore } from '@/store/index'

const store = useUserStore()
const { isLogedIn } = storeToRefs(store)
const { setUser, setLogedIn } = store

async function logout() {
    await useFetch(`http://localhost:3333/api/auth/logout`)
    setUser({})
    setLogedIn(false)
}
</script>