@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');



/* *****************************************************************
VARS
***************************************************************** */

:root {
    --color-prin:#C8ad7f;
    --color-pink:#FF6F61;
    --box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}



html {
    font-family: 'Oswald', sans-serif;
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
	margin:0;
}

/* HEADER + NAV */




.header {
	text-align: center;
	background-color:white;
	background-size: cover;
	background-position: center;
	padding-bottom: 3em;
    padding-top:1em;
    box-shadow:var(--box-shadow);
}

.header .logo{
    margin-left:auto;
    margin-right:auto;
    width:15%;
    margin-top:1rem;
    margin-bottom:2rem;
}

.menu {
  display: inline-block;
}

.menu:after {
 content: "";
 display: block;
 height: 0.15em;
 width: 0%;
 margin-bottom: 9px;
 background-color: var(--color-prin);
 transition: width 0.4s;
}

.menu:hover:after {
 width: 100%;
}



.header a {
    font-family: 'Arimo', sans-serif;
    font-size:1.8rem;
    color:black;
   text-decoration:none; 
   margin:0 15px; 
}

.header a:hover{
	color:var(--color-pink);
}


.header .connect{
    background-color:var(--color-pink);
}

/* FORMULAIRE CONNEXION */


#container{
    width:400px;
    margin:0 auto;
    margin-top:5%;
    margin-bottom:5%;
}

.FORM {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: var(--box-shadow);
}

#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}


.red{
    text-transform:uppercase;
    text-align:center;
    color:white;
    font-style:bold;
    background-color:var(--color-pink);
}



/* Taille input */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Style des boutons */
input[type=submit] {
    background-color: var(--color-pink);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius:20px;
}

input[type=submit]:hover {
    background-color: var(--color-prin);
    color: white;
}


/* PAGE DASHBOARD */

.buttondeco a{
   color:white;
}

.buttondeco{
    background-color: #1c87c9;
    border-radius:20px;
    border: none;
    color: white;
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.buttondeco:hover{
    background-color:var(--color-pink);
    color:black;
}

.buttondeco a:hover{
    color:white;
}

.containermain {
     box-shadow: var(--box-shadow);
    font-size:3rem;
	width: auto;
	max-width: 1500px;
	margin: 0 auto;
	padding-bottom:2em;
	 margin-top:5%;
    margin-bottom:5%;
}

.containermain .pseudo{
    padding-top:2em;
    display:flex;
    justify-content:center;
    align-items:center;
    color:var(--color-pink);
    text-transform:uppercase;
}

.block {
    padding-top:2em;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-bottom:4em;
}

.block2 {
   
    display:flex;
    justify-content:center;
   
}

div.block2{
    padding: inherit;
}

.block2 i{
    color:var(--color-prin);
}

.block2 i:hover{
    color:var(--color-pink);
}

.block a{
    text-decoration:none;
    font-size:2rem;
    color:white;
    border: none;
    border-radius:20px;
    cursor:pointer;
    padding:5px 30px;
    background-color:var(--color-pink);
    margin:0 20px;
}

.block a:hover{
    background-color:var(--color-prin);
    color:white;
}

#editor1{
    width: 100%;
    height: 200px;
}

/* Page article */

.titre{
    color:black;
    padding-top:2em;
    text-align:center;
}

.block form{
    display:flex;
    flex-direction: column;
    align-items:center;
    
}

.aa{
    width: 90%;
    margin: auto;

    .input[type=text]{
        margin: 0;
    }
}

.aa .input{
    width:30%;
    border:none;
    font-size:2rem;
    color:white;
    border-radius:20px;
    cursor:pointer;
    padding:5px;
    margin:0 20px;
    margin-bottom:2em;
    text-transform:uppercase;
}

.aa .input:hover{
    background-color:var(--color-prin);
    color:white;
    border:none;

}

.article{
    font-size:3rem;
    margin-left:1em;
    margin-right:1em;
}

.ligne_horizontal { 
    margin-left:1em;
    margin-right:1em;
    display: flex; 
    flex-direction: row; 
    color:var(--color-prin);
} 

.ligne_horizontal:before, 
.ligne_horizontal:after { 
    content: ""; 
    flex: 1 1; 
    border-bottom: 2px solid var(--color-pink); 
    margin: auto; 
} 



/* ARTICLES */

.card-articles{
    border:2px solid var(--color-pink);
    font-size:2rem;
    color:black;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-left:1em;
    margin-right:1em;
    margin-bottom:2em;
}

.card-articles p{
    margin-left:1em;
    margin-right:1em;
}

.card-articles a{
    color:var(--color-pink);
}

ul {
    padding:0 5rem;
}

li{
    margin:0 2em;
    list-style:none;
    border:2px solid var(--color-pink);
    border-radius:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 100%;
    text-align: center;
}

li h2{
    font-size:4rem;
}

li .non{
    font-size:2rem;
}

li a{
   font-size:2rem;
   color:var(--color-prin);
}

li a:hover{
    color:var(--color-pink);;
}

li .avis{
    text-align:center;
    font-size:2rem;
    margin-left:1em;
    margin-right:1em;

    p{
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
}

/* PAGE UPDATE TABLEAU */
table.redTable {
    margin-left:auto;
    margin-right:auto;
  border: 2px solid var(--color-pink);
  width: 90%;
  text-align: center;
  border-collapse: collapse;
}

table.redTable td, table.redTable th {
  border: 1px solid var(--color-pink);
  padding: 3px 2px;
}

table.redTable tbody td {
  font-size: 18px;
  padding: 2rem;
}

table{
    margin-bottom:3em;
}

.Titre{
    margin-top:2em;
    margin-bottom:2em;
    text-align:center;
    color:var(--color-prin);
}

i {
    margin:0 10px;
    font-size:2rem;
}

.modif{
    margin:0 10px;
    color:#39ff14;
}

.supp{
    margin:0 10px;
    color:red;
}

td a {
    text-decoration:none;
}

/* FOOTER */

.footer{
    padding-top:2em;
    padding-bottom:2em;
    margin:0;
    background-color:white;
    box-shadow:var(--box-shadow);
}

.footer p{
    color:black;
    text-align:center;
}

.block2 h2{
    font-size:2rem;
}


/* PAGE UPLOAD */

.block3 {
    display:flex;
    justify-content:center;
    margin:5em 5em 5em 5em;
    padding:5em 5em 5em 5em;
}


/* ETOILE */

#exemple2{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
                                            
#exemple2 div {
  display: inline-block;
}

#exemple2 div:after{
  content:"";
  display:  block;
  clear:both;
}

#exemple2 div label{
  float:right;
  display:inline-block;
  font-size:0;
}

#exemple2 div label:after{ 
  content:"★";
  display:  block;
  font-size: 3rem;
}

#exemple2 div [name="note"]{ 
  display:none;
}

#exemple2 div:hover label{
  color: grey!important;
}

#exemple2 div label:hover ~ label{
  color: gold!important;
}

#exemple2 div label:hover{ 
  color: black!important;
}

#exemple2 div input:checked ~ label{
  color: gold;
}

#scrollUp
{
    position: fixed;
    bottom : 10px;
    right: 100px;
    opacity: 0.5;
}

.avis i{
    display:flex;
    margin-bottom:1em;
}
