<template>
  <div>
    <h1 class="titre">Ajoute ta recette</h1>
    <form class="aa" @submit.prevent="create">
      <label for="title">Titre de la recette :</label>
      <input type="text" name="title" v-model="title" required>
      <label for="content">Contenu de la recette :</label>
      <textarea name="content" id="editor1" v-model="content" required></textarea>
      <div class="block">
        <input type="submit" value="Ajouter" class="input">
      </div>
    </form>
  </div>
</template>

<script setup>
import { sanitizeInput } from '@/utils/sanitize'

const title = ref('')
const content = ref('')

async function create(tilte, content) {
  const sanitizeTitle = sanitizeInput(title.value)
  const sanitizeContent = sanitizeInput(content.value)

  await useFetch(`http://localhost:3333/api/recipes`, { method: 'POST', body: { sanitizeTitle, sanitizeContent} })
  return navigateTo('/dashboard')
}
</script>