<template>
  <div class="containermain">
    <span class="pseudo">Bienvenue à toi</span> 
    <div class="block">
      <NuxtLink to="/dashboard/myRecipes">Mes articles</NuxtLink>
      <NuxtLink to="/dashboard/addRecipe">Ajouter un article</NuxtLink>
    </div>
  </div> 
</template>