<template>
  <div class="containermain">
    <h2 class="Titre">Modifier/Supprimer recttes</h2>
    <table class="redTable">
      <thead>
        <th>Titre</th>
        <th>Contenu</th>
        <th>Modifier/Supprimer</th>
      </thead>
      <tbody>
        <tr v-for="recipe in recipes" :key="recipe.id">
          <td>
            <p>{{ recipe.title }}</p>
          </td>
          <td>
            <p>{{ recipe.content.substring(0, 100) }}</p>
          </td>
          <td>
            <NuxtLink :to="`/dashboard/recipe/${recipe.id}`"><i class="fa-solid fa-pen-to-square modif"/></NuxtLink>
            <NuxtLink to="/dashboard/myRecipes" @click="deleteRecipe(recipe.id)"><i class="fa-solid fa-trash-can suppr"/></NuxtLink>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script setup>
const { data: recipes } = await useFetch('http://localhost:3333/api/dashboard/1')
async function deleteRecipe(id) {
  await useFetch(`http://localhost:3333/api/recipes/${id}`, { method: 'DELETE' })
}
</script>